**/desktop.ini
*ls-dyna-automatization/misc/fafo/
*ls-dyna-automatization/misc/save/
ls-dyna-automatization/lspost.cfile
ls-dyna-automatization/lspost.msg
*ls-dyna-automatization/output
ls-dyna-automatization/powershell_scripts/lsrun_powershell.ps1
*ls-dyna-automatization/__pycache__
ls-dyna-automatization/parameter_text.txt
**__pycache__/
ls-dyna-automatization/0c45d099-1516-4397-bbb3-be9b095eabca.html
machine-learning/fafo/
machine-learning/x-data
machine-learning/y-data